/*----------------------------------------------------------------------------*/
/* COLOR SCHEME */
/*----------------------------------------------------------------------------*/


/*
  green  : #1B998B;
  pink   : #ED217C;
  dark   : #2D3047;
  yellow : #FFFD82;
  orange : #FF9B71;
  black  : #0A0908;
  white  : #F2F4F3;
*/

/*
red    : #ED254E;
tea    : #C2EABD;
yellow : #FFFD82;
navy   : #011936;
grey   : #465362;
magenta: #5F0F40;
black  : #0A0908;
white  : #F2F4F3;
*/


/*----------------------------------------------------------------------------*/
/*GENERAL*/
/*----------------------------------------------------------------------------*/

body {
  background-color: #C2EABD;
}

#header{
  font-size: 10vw;
  font-family: 'Oswald', sans-serif;
  color: #5F0F40;
  text-align: center;
}

#sub-header{
  font-size: 3vw;
  font-family: 'Oswald', sans-serif;
  color  : #011936;
  text-align: right;
  padding-right: 10vw;

}

#thank-you{
  color: #011936;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

.parent {
  position: relative;
  height: 65vh;
  width: 100%;
}

.child {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col{
  color: white;
}

.button, #btn-map a:visited, #btn-map a:active, #btn-map a:link{
  font-family: 'Oswald', sans-serif;
  background-color: #F2F4F3;
  color: #011936;
  border-radius: 0.5em;
}

#btn-map a:hover, #btn-story-link:hover {
  background-color : #5F0F40;
  color: #F2F4F3;
}

.col{
  padding-top: 1vh; padding-bottom: 1vh;
}

#map{
  color: #713558;
}

/*----------------------------------------------------------------------------*/
/* iPHONE */
/* Custom, iPhone Retina */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 0px) {
}


/*----------------------------------------------------------------------------*/
/* X-SMALL */
/* Extra Small Devices, Phones */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 480px) {
}


/*----------------------------------------------------------------------------*/
/* SMALL */
/* Small Devices, Tablets */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) {
}


/*----------------------------------------------------------------------------*/
/* MEDIUM */
/* Medium Devices, Desktops */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 992px) {
}


/*----------------------------------------------------------------------------*/
/* LARGE */
/* Large Devices, Wide Screens */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 1200px) {
}
